body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    height: 1000px;
    color:#000000;
    background-color: #D8E2DC;
    background-image: -moz-linear-gradient(#FAEDCD,#F25C54);
    background-image: -webkit-linear-gradient(#FAEDCD,#F25C54);
}
nav{
    
    /*border-top: 2px dotted #000000;
    border-bottom:2px dotted #000000; */
    background-color: #FAEDCD;
    
}
a {
    color: #000000;
    text-decoration: none;
}
a:hover{
    color: #1c9ebb;
}
a.on{
    color: #e54d69;
}

/*#header,#logo, #feature, .grid-25 {
    background-color:#FAEDCD;
    margin: 20px;
    padding: 10px 0px 5px 0px;
}
*/

li {
    display: inline;
    padding: 20px;
}
