body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    height: 1000px;
    color:#000000;
    background-color: #FAEDCD;
    background-image: -moz-linear-gradient( #E3D0D8,#827081);
    background-image: -webkit-linear-gradient(#E3D0D8,#827081);
}
nav{
    
    border-bottom:2px solid #000000;
    background-color: #E3D0D8;  
}
a {
    color: #000000;
    text-decoration: none;
}
a:hover{
    color: #1c9ebb;   
}
a.on{
    color: #e54d69;
}
li {
    display: inline;
    padding: 20px;
}
#feature{

    background-color: #E3D0D8;
    background-image: url(../images/okeykat-hS6VQy0ckvY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    border-radius: 25%;
    height: 85vh;
    text-align: left;

/*Figure out the correct way to do the banner with half the background picture (or whole picture?) Do I need the grid?*/
/*Plan out homepage, document things you need to learn*/
/*Plan out landing pages, document what you need to learn*/
/*Plan some content ideas*/
}   

